<!DOCTYPE HTML>
<html>

<head>
  <title>Simulasi</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="App" class="container">

  <div ng-controller="AppCtrl">
    <form novalidate name="form">
      <div class="row">
        <fieldset class="col-xs-4">
          <legend>Pengaturan</legend>
          <div class="form-group">
            <label for="count">Jumlah Counter : {{ count }}</label>
            <input ng-model="count" ng-disabled="!is_new" type="range" min="1" max="10" name="count" required>
          </div>
          <div class="form-group">
            <label for="prob">Probabilitas Kemunculan Kendaraan : {{ in.prob }}%</label>
            <input ng-model="in.prob" type="range" min="0" max="100" name="prob" required>
          </div>
          <div class="form-group">
            <label for="speed">Kecepatan : {{ in.speed }}&times;</label>
            <input ng-model="in.speed" type="range" min="1" max="10" name="speed" required>
          </div>
        </fieldset>

        <fieldset class="col-xs-4">
          <legend>Inter Arrival Time</legend>
          <div class="form-group input-group" ng-class="{'has-error': form.min_iat.$invalid && form.min_iat.$dirty}">
            <label for="min_iat" class="input-group-addon">Min</label>
            <input ng-model="in.min_iat" ng-disabled="is_running" type="number" min="1" name="min_iat" class="form-control" required>
          </div>
          <div class="form-group input-group" ng-class="{'has-error': form.max_iat.$invalid && form.max_iat.$dirty}">
            <label for="max_iat" class="input-group-addon">Max</label>
            <input ng-model="in.max_iat" ng-disabled="is_running" type="number" ng-min="in.min_iat + 1" name="max_iat" class="form-control" required>
          </div>
        </fieldset>

        <fieldset class="col-xs-4">
          <legend>Service Time</legend>
          <div class="form-group input-group" ng-class="{'has-error': form.min_st.$invalid && form.min_st.$dirty}">
            <label for="min_st" class="input-group-addon">Min</label>
            <input ng-model="in.min_st" ng-disabled="is_running" type="number" min="1" name="min_st" class="form-control" required>
          </div>
          <div class="form-group input-group" ng-class="{'has-error': form.max_st.$invalid && form.max_st.$dirty}">
            <label for="max_st" class="input-group-addon">Max</label>
            <input ng-model="in.max_st" ng-disabled="is_running" type="number" ng-min="in.min_st + 1" name="max_st" class="form-control" required>
          </div>
        </fieldset>
      </div>

      <div class="form-group text-center">
        <button ng-show="!is_running && is_new" ng-click="start()" ng-disabled="form.$invalid" type="button" class="btn btn-primary">Start</button>
        <button ng-show="is_running && !is_new" ng-click="pause()" ng-disabled="form.$invalid" type="button" class="btn btn-default">Pause</button>
        <button ng-show="!is_running && !is_new" ng-click="resume()" ng-disabled="form.$invalid" type="button" class="btn btn-default">Resume</button>
        <button ng-show="is_running && !is_new" ng-click="stop()" ng-disabled="form.$invalid" type="button" class="btn btn-danger">Stop</button>
      </div>

<pre>
MIN IAT {{ form.min_iat.$error }}
MAX IAT {{ form.max_iat.$error }}
MIN ST  {{ form.min_st.$error }}
MAX ST  {{ form.max_st.$error }}
</pre>
    </form>

    <div id="chart"></div>

    <div ng-show="out">
      <p>Total Klien : {{ out.total_client }}</p>
      <ul>
        <li ng-repeat="server in out.servers track by server.id">
          Server {{ server.id }} telah melayani {{ server.total_serve }} klien,
          memiliki panjang antrian : {{ server.queue_length }}, sedang melayani klien : {{ server.client.id }} [{{ server.client.attend_time }}]
        </li>
      </ul>
    </div>

    <div id="result">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Time</th>
            <th>Time Count</th>
            <th>Avg. IAT</th>
            <th>Avg. ST</th>
            <th>Avg. WT</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in result track by row.time_count">
            <td>{{ row.time_count }}</td>
            <td>{{ row.time }}</td>
            <td>{{ row.avg_inter_arrival_time }}</td>
            <td>{{ row.avg_service_time }}</td>
            <td>{{ row.avg_waiting_time }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script src="js/jquery.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/ui-bootstrap-tpls.js"></script>
  <script src="js/highstock.src.js"></script>
  <script src="js/Server.js"></script>
  <script src="js/Client.js"></script>
  <script src="js/System.js"></script>
  <script src="js/app.js"></script>
  <script src="js/chart.js"></script>

</body>

</html>
